<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard - Student Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="dashboard-container">

        <header class="dashboard-header">
            <div>
                <h1>Student Management System</h1>
                <p>Welcome, {{ session["username"] }}!</p>
            </div>

            <a href="{{ url_for('logout') }}" class="logout-btn">
                Logout
            </a>
        </header>


        <main>

            <h2>Dashboard</h2>

            <div class="dashboard-cards">

                <a href="{{ url_for('students') }}" class="dashboard-card">
                    <h3>👨‍🎓 Students</h3>
                    <p>Manage student information</p>
                </a>

                <a href="{{ url_for('attendance') }}" class="dashboard-card">
                      <h3>📋 Attendance</h3>
                      <p>Manage student attendance</p>
                </a>

                <a href="#" class="dashboard-card">
                    <h3>📊 Marks</h3>
                    <p>Manage student marks</p>
                </a>

            </div>

        </main>

    </div>

</body>
</html>